<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="pt-5">today</h1>
      <div class="row">
        <div class="col-md-5 p-3">
          <h5>予定</h5>
        </div>
        <div class="col-md-5 p-3">
          <h5>やること</h5>
        </div>
        <div class="col-md-5 p-3">
          <h5>健康</h5>
        </div>
        <div class="col-md-5 p-3">
          <h5>収支</h5>
        </div>
      </div>

      <h1 class="pt-5">week</h1>
      <div class="row">
        <div class="col-md-5 p-3">
          <h5>予定</h5>
        </div>
        <div class="col-md-5 p-3">
          <h5>やること</h5>
        </div>
      </div>

    </div>
  </div>
</div>